@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display";
}

html {
  scroll-behavior: smooth;
}

#inicio {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/dr1lboqfo/image/upload/v1671714316/alaska/codigos_wdxst2.jpg");
  background-size: cover;
  background-position: center;
  background-position: center center;
  height: 80vh;
}

#inicio .contenido header {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

.contenido-header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.contenido-header h1 {
  text-align: center;
  color: orangered;
}

.contenido-header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.contenido-header nav ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 12px;
  font-weight: 400;
  transition: 0.5s;
}

.contenido-header nav ul li a:hover {
  color: orangered;
}

.redes a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  transition: 0.5s;
}

#links {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 120px;
  text-transform: uppercase;
}

.redes a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  transition: 0.6s;
}

.redes a:hover {
  color: orangered;
}

.presentacion {
  max-width: 1600px;
  height: 80vh;
  margin: auto;
  columns: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

.bievenida {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.titulo-main {
  font-size: 40px;
  margin-bottom: 5px;
  text-align: center;
}

.nombreyap {
  color: orangered;
}

.descripcion {
  max-width: 1600px;
  margin: 20px auto;
  font-size: 18px;
  text-align: center;
}

.presentacion a {
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
  border-radius: 50px;
  color: whitesmoke;
}

.presentacion a:hover {
  background-color: #f1c6c6;
}

#sobremi {
  max-width: 1600px;
  margin: auto;
  padding: 100px 15px;
  color: #ffffff;
  display: flex;
  background: linear-gradient(
    #3b3b3b,
    #414141,
    #474747,
    #4d4d4d,
    #525252,
    #5d5d5d,
    #727272,
    #9c9c9c,
    #f1f1f1,
    #ffffff
  );
}

.contenedor-foto {
  max-width: 400px;
  margin-right: 80px;
}

.contenedor-foto img {
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  background-color: #ffffff;
}

.sobremi {
  margin: 0 40px;
}

.titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: whitesmoke;
  text-decoration: underline;
  text-decoration-color: orangered;
  text-decoration-thickness: 5px;
}

.sobremi h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}

.sobremi h2 span {
  color: orangered;
}

.sobremi h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.sobremi p {
  font-size: 20px;
  line-height: 25px;
  color: whitesmoke;
  margin-bottom: 12px;
}

.sobremia {
  display: inline-block;
  text-decoration: none;
  color: rgb(169, 106, 106);
  border-radius: 30px;
  border: 1px solid whitesmoke;
  padding: 10px 20px;
  margin-top: 30px;
  transition: 0.5s;
}

.cover {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.text__information-cover {
  width: 50%;
}

.text__information-cover h1 {
  font-size: 40px;
}

.text__information-cover p {
  font-size: 20px;
  margin-top: 40px;
}

.buttons__cover {
  display: flex;
  margin-top: 40px;
}

.btn__register-cover {
  padding: 14px 40px;
  border: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  transition: background 300ms;
  border-radius: 20px;
}

.media__cover {
  width: 50%;
}

.media__cover video {
  width: 90%;
  margin-top: -40px;
}
